.auto-style1 {
    width: 100%;
    height: 1546px;
    text-align:center;
    text-decoration:blink;
}

.auto-style2 {
    height: 444px;
    width: 395px;
}

.auto-style3 {
    height: 337px;
    width: 395px;
}

.auto-style9 {
    height: 337px;
    width: 500px;
}

.auto-style10 {
    height: 444px;
    width: 500px;
}

.auto-style15 {
    height: 509px;
    width: 500px;
}

.auto-style16 {
    height: 509px;
    width: 395px;
}

.auto-style17 {
    height: 509px;
    width: 482px;
}

.auto-style18 {
    height: 337px;
    width: 482px;
}

.auto-style19 {
    height: 444px;
    width: 482px;
}

.auto-style20 {
    text-align: center;
}

.auto-style21 {
    font-size: x-large;
    font-family: "Sans Serif";
}